@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    background-color: #222629;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 6rem;
}