@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(rgb(114, 162, 204),  rgba(223, 155, 216, 0.5));
    padding-right: 5rem;
    padding-left: 5rem;
}